[env]
TURBO_TELEMETRY_DISABLED = "1"
DO_NOT_TRACK = "1"
DOTNET_CLI_TELEMETRY_OPTOUT = "1"

[tools]
node = "latest"
# graphite = "latest"
# github-cli = "latest"
bun = "1.3.9"
dotnet = "10.0"
"dotnet:csharpier" = "1.2.6"

[hooks]
preinstall = '''
  command -v node &> /dev/null || echo "Node.js is not installed. Please install Node.js to continue."
'''
# sed -i 's|"dotnetAcquisitionExtension.sharedExistingDotnetPath": "[^"]*"|"dotnetAcquisitionExtension.sharedExistingDotnetPath": "'$(which dotnet)'"|' .vscode/settings.json
postinstall = '''
  (cd frontend && bun pm pkg set packageManager=bun@$(bun --version) && test -d node_modules || bun install)
  if [ ! -f .mise-setup-done ]; then
    (cd backend && dotnet restore && dotnet tool restore && dotnet dev-certs https --trust)
    (cd frontend && sleep 5 && bunx playwright install --with-deps chromium)
    echo 'mise setup complete' > .mise-setup-done
  fi
'''

[settings]
experimental = true

[settings.npm]
package_manager = "bun"
