::placeholder {
    opacity: 0.2; /* Firefox */
}

.appHeader {
    height: 60.3px;
}

.clickable {
    cursor: pointer;
}
.grow-wrap {
    /* This is the wrapper element around the `<textarea>` */
    display: grid;
}
.grow-wrap > textarea,
.grow-wrap::after {
    /* Note the weird space! Needed to prevent jumpy behavior */
    content: attr(data-replicated-value) " ";

    /* This is how `<textarea>` text behaves */
    white-space: pre-wrap;

    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
}
.grow-wrap > textarea {
     /* You could leave this, but after a user resizes, then it ruins the auto sizing */
     resize: none;

     /* Firefox shows scrollbar on growth, you can hide like this. */
     overflow: hidden;
 }