# Database Configuration
DATABASE_SEED_ACCOUNTS_AUTOMATICALLY=false
DATABASE_LOG_USER_PASSWORDS_WHEN_SEEDING=false

# Database Connection
DB_PASSWORD=
DB_CONNECTION_STRING=
JWT_SECRET=

# Frontend Configuration
FRONTEND_URL=https://cruise.wsiwiec.com

# SMTP credentials (set real values only in the staging deployment environment)
SMTP_USERNAME=
SMTP_PASSWORD=

SENTRY_DSN_FRONTEND=
SENTRY_DSN_BACKEND=
SENTRY_TRACES_SAMPLE_RATE=1
SENTRY_REPLAYS_SESSION_SAMPLE_RATE=1
