services:
  backend:
    container_name: researchcruiseapp-backend
    image: ghcr.io/vv01t3k/researchcruiseapp/backend:staging
    environment:
      - Database__SeedAutomatically=${DATABASE_SEED_AUTOMATICALLY:-true}
      - Database__MigrateAutomatically=${DATABASE_MIGRATE_AUTOMATICALLY:-true}
      - Database__LogUserPasswordsWhenSeeding=${DATABASE_LOG_USER_PASSWORDS_WHEN_SEEDING:-true}
      - ConnectionStrings__Database=Server=${DB_SERVER:-researchcruiseapp-db},${DB_PORT:-1433};Database=${DB_NAME:-ResearchCruiseApp};User Id=${DB_USER:-sa};Password=${DB_PASSWORD:-p@ssw0rd};Encrypt=False
      - FrontendUrl=${FRONTEND_URL:-https://cruise.wsiwiec.com}
    networks:
      - researchcruiseapp-network
  frontend:
    depends_on:
      - backend
    container_name: researchcruiseapp-frontend
    image: ghcr.io/vv01t3k/researchcruiseapp/frontend:staging
    expose:
      - 8080
    networks:
      - researchcruiseapp-network
      - proxy
    labels:
      caddy: ${FRONTEND_URL:-https://cruise.wsiwiec.com}
      caddy.route.import: crowdsec
      caddy.route.reverse_proxy: "{{upstreams 8080}}"

networks:
  researchcruiseapp-network:
    external: true
  proxy:
    external: true
