services:
  backend:
    container_name: researchcruiseapp-backend
    image: ghcr.io/vv01t3k/researchcruiseapp/backend:staging
    environment:
      - Database__SeedAutomatically=true
      - Database__MigrateAutomatically=true
      - Database__LogUserPasswordsWhenSeeding=true
      - ConnectionStrings__Database=Server=researchcruiseapp-db,1433;Database=ResearchCruiseApp;User Id=sa;Password=p@ssw0rd;Encrypt=False
      - FrontendUrl=https://cruise.wsiwiec.com
    networks:
      - researchcruiseapp-network
  frontend:
    depends_on:
      - backend
    container_name: researchcruiseapp-frontend
    image: ghcr.io/vv01t3k/researchcruiseapp/frontend:staging
    expose:
      - 8080
    networks:
      - researchcruiseapp-network
      - proxy
    labels:
      caddy: cruise.wsiwiec.com
      caddy.route.import: crowdsec
      caddy.route.reverse_proxy: "{{upstreams 8080}}"

networks:
  researchcruiseapp-network:
    external: true
  proxy:
    external: true
