@import 'tailwindcss';
@import './theme.css';

@layer base {
  html,
  body,
  #root {
    @apply min-h-screen;
  }

  #root {
    @apply relative flex flex-col;
  }

  :root {
    --header-height: 4.5rem;
  }
}
