<html lang="pl-PL">
    <body>
        <p>
            Witaj, {{firstName}} {{lastName}}!<br/><br/>
            Twoje konto<i>{{roleText}}</i>zostało zarejestrowane w systemie rejsów badawczych Biura Armatora
            Uniwersytetu Gdańskiego.<br/>
            Twoje hasło to: <i>{{password}}</i>.
            Możesz je zmienić po pierwszym zalogowaniu w ustawieniach konta.<br/><br/>
        </p>
        <footer>
            Pozdrawiamy<br/>
            Biuro Armatora z jednostką r/v Oceanograf
        </footer>
    </body>
</html>