<html lang="pl-PL">
    <body>
        <p>
            Witaj, {{firstName}} {{lastName}}!<br/><br/>
            Twoje konto<i>{{roleText}}</i>zostało zarejestrowane w systemie rejsów badawczych Biura Armatora
            Uniwersytetu.<br/>
            Aby potwierdzić rejestrację konta, kliknij <a href="{{link}}">TUTAJ</a>.<br/>
            Twoje hasło to: <i>{{password}}</i>.
            Możesz je zmienić po pierwszym zalogowaniu w ustawieniach konta.<br/><br/>
        </p>
        <footer>
            Pozdrawiamy<br/>
            Biuro Armatora Uniwersytetu
        </footer>
    </body>
</html>