<html lang="pl-PL">
    <body>
        <p>
            Witaj!<br /><br />
            
            Prosimy o akceptację zgłoszenia rejsu badawczego wysłanego przez kierownika:<br /><br />
            {{cruiseManagerFirstName}} {{cruiseManagerLastName}} ({{cruiseManagerEmail}})<br /><br />
            w Portalu rejsów badawczych Biura Armatora UG. Wysyłamy tę prośbę, ponieważ zgłaszający określił Cię jako
            swojego przełożonego. Jeśli uważasz, że to pomyłka, skontaktuj się z nami, wysyłając wiadomość e-mail na
            adres <a href="mailto:office.oceanograf@ug.edu.pl">office.oceanograf@ug.edu.pl</a>.<br /><br />
            
            Aby przejść do zgłoszenia, kliknij <a href="{{link}}">TUTAJ</a>.<br /><br />
        </p>
        <footer>
            Pozdrawiamy<br/>
            Biuro Armatora z jednostką r/v Oceanograf
        </footer>
    </body>
</html>